.Heading {
    font-family: monospace, arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 30px; font-weight: bold;
}

.CustomRulesContainer {
    box-shadow: 0px 0px 50px rgba(2, 2, 2, 0.384);
    background-color:#FDFBf9 ;
    border-radius: 5px;
    margin-bottom: 10%;
}

.HeadingContainer {
    display: flex;
    justify-content: space-between;
    height: 15%;
    padding: 1vh 1vw;
}

.CustomRulesPanel{
    height: 40%;
    padding: 1vh;
    padding-top: 2.5vh;
    padding-bottom: 5vh;

}

.Divider{
    border: 0;
    height: 5px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(209, 209, 209);
    /* background: linear-gradient(to right, rgb(139, 139, 139), rgba(139, 139, 139, 0.2), rgba(139, 139, 139, 1)) */
}

.RulesWrapper{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1162px){

}