        
.CustomRulesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}

.Heading {
    font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 30px; font-weight: bold;
}

.HeadingContainer {
    background-color: #FDFBf9;
    height: 15%;
    width: 70%;
    padding: 1vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.CustomRulesPanel{
    background-color: #FDFBf9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40%;
    width: 70%;
    padding: 1vh;
}

.RulesWrapper{
    display: flex;
    justify-content: space-between;
}